@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-grey-100: #212529;
  --color-grey-200: #495057;
  --color-grey-300: #808387;
  --color-grey-400: #dee2e6;
  --color-grey-500: #e9ecef;
  --color-grey-600: #f1f3f5;
  --color-grey-700: #f8f9fa;
  --color-brand-100: #087f5b;
  --color-brand-200: #099268;
  --font-size-1: 2.5rem;
  --font-size-2: 1.75rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

* button {
  font-family:'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.containerDiv {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.headerDiv button, .articleBtn {
  align-self: flex-start;
  font-size: 16px;
  background-color: #fff;
  border: none;
}

.filterNav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterList {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.filter {
  height: 32px;
  padding: 0 22px;
  line-height: 200%;
  background-color: var(--color-grey-700);
  border-radius: 32px;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  color: var(--color-grey-200)
}
