.articleDesc, .articleContent {
  color: var(--color-grey-200);
}

.articleImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.articleImg, .articleContent, .filterNav {
  margin-bottom: 40px;
}

.articleContent {
  margin-top: 15px;
  line-height: 250%;
}